.github export-ignore
.gitattributes export-ignore
.gitarchiveinclude export-ignore
.gitignore export-ignore
Dockerfile.evtest export-ignore
Dockerfile.termsp export-ignore
Dockerfile.sdl2imgshow export-ignore
Makefile export-ignore
